
.column-dropdown{
  columns: 3;
}

.drop-ingridient-item{

font-size: 9px;
}

.main{
font-size: 25px;
padding: 15px;
font-family: sans-serif;
background-color:#c8e0d4;
border-radius: 30px;

}
.my-pre{
font-size: 25px;
padding: 15px;
font-family: sans-serif;
background-color:#c8e0d4;
border-radius: 30px;

}

body{
background-color:#e6ebf2;
}