{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>

<body>


{% block content %}
dodaj recepturę
<!--<form action="dodajrec" method="post">-->
<!--    {% csrf_token %}-->
<!--{% for i in form %}-->
<!-- {{ i.label }}-->
<!-- {{ i }}-->
<!--    <br><br>-->
<!--{% endfor %}-->

<!--    <input type="submit" value="Submit">-->
<!--</form>-->


<!--<div id="okejos">Okejos</div>-->
<br><br><br><br><br><br>
<div class="form-body">
    <div class="title">
      Podaj dane recepty
    </div>
<form id="form-rec" class="form-form" method="POST" >
              {% csrf_token %}

              <br>

          </form>
 <input type="submit" id='dodajRecSubmit' class='btn btn-primary' value="Dodaj recepturę">
<script src="{% static 'nowarec.js' %}"> </script>
</div>

<!-- Modal -->
<div class="modal fade" id="zaDuzoRecepturModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="zaDuzoRecepturLabel">Pełny zbiór receptur</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Twój zbiór receptur osiągnął maksymalną ilość. Aby stworzyć nową recepturę musisz usunąc którąś z poprzednich.
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" onclick="location.href='{% url 'mojerec' %}'" >Przejdź do spisu twoich receptur</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




{% endblock %}

</body>
</html>