{% extends 'base.html' %}

{% block content %}
<h>To jest moja strona startowa</h>

<div class="container my-container">
    <div class="row my-row">
        <div class="col-6 my-col"> kolumna 1 rząd 1
        <p>     Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit, amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur?
    [33] At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et quas molestias excepturi sint, obcaecati cupiditate non provident, similique sunt in culpa, qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat, facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p></div>
        <div class="col-6 my-col" align="left">

            {% if user.is_authenticated %}
            <pre class="my-pre">
                Kliknij poniżej aby dodać nową recepturę.
                Jednorazowo możesz posiadać kolekcję do 20 receptur.</pre>
            <a class="btn btn-primary btn-xl" href="{% url 'dodajrec' %}" role="button"> Rozpocznij nową recepturę.  </a>
            <pre class="my-pre">
                kliknij poniżej aby przeglądać swoje receptury</pre>
            <a class="btn btn-primary btn-xl" href="{% url 'mojerec' %}" role="button">
                Przeglądaj swoje receptury </a>
            {% else %}
            <pre class="my-pre">
                Kliknij poniżej aby dodać nową recepturę.
                Pamiętaj ,że dodając nową recepturę nadpisujesz poprzednią.
                Aby posiadać kolekcję wielu receptur musisz się zarejestrować/zalogować</pre>
            <a class="btn btn-primary btn-xl" href="{% url 'dodajrec' %}" role="button"> Rozpocznij nową recepturę.  </a>
            <pre class="my-pre"> Kliknij poniżej aby wrócić do swojej ostatniej  receptury</pre>
            <a class="btn btn-primary btn-xl" href="{% url 'mojerec' %}" role="button"> Wróć do swojej receptury </a>
            {% endif %}
        </div>
    </div>
<!--    <div class="row">-->
<!--        <div class="col-6 my-col">kolumna 2 rząd 1-->

<!--        </div>-->
<!--        <div class="col-6 my-col">kolumna 2 rząd 2</div>-->
<!--    </div>-->
</div>
{% endblock content %}




