{% extends 'base.html' %}

{% block content %}


<div class="container main-container">
    <br>
    <br>
    <div class="row my-row">

        <div class="col-6 my-col">
        <p class="main">    Witaj w internetowym kalkulatorze leków recepturowych.
            Aplikacja ma na celu ułatwienie określania ilości poszczególnych składników do wykonania leku.
        Główny nacisk został tutaj położony na najczęściej spotykane obliczenia etanolowe,witamin jak również masła kakaowego.
        Aplikacja ma charakter amatorski, wszystkie kalkulacje należy potwierdzić standardowymi obliczeniami.
        W aplikacji można założyć konto,co umożliwi posiadanie kolekcji maksymalnie 20 receptur.
        Ze strony mogą też korzystać niezalogowani użytkownicy,jednakże w tym przypadku można posiadać tylko jedną bieżącą recepturę.
        Zapraszam do pracy z e-receptura.
        </p></div>
        <div class="col-6 my-col" align="left">

            {% if user.is_authenticated %}
            <pre class="my-pre">
                Kliknij poniżej aby dodać nową recepturę.
                Jednorazowo możesz posiadać kolekcję do 20 receptur.
            <a class="btn btn-primary btn-xl" href="{% url 'dodajrec' %}" role="button"> Rozpocznij nową recepturę.  </a>

                kliknij poniżej aby przeglądać swoje receptury.
            <a class="btn btn-primary btn-xl" href="{% url 'mojerec' %}" role="button">Przeglądaj swoje receptury. </a>
                </pre>
            {% else %}

            <pre class="my-pre">
                Kliknij poniżej aby dodać nową recepturę.
                Pamiętaj ,że dodając nową recepturę nadpisujesz poprzednią.
                Aby posiadać kolekcję wielu receptur musisz się zarejestrować/zalogować.
            <a class="btn btn-primary btn-xl" href="{% url 'dodajrec' %}" role="button"> Rozpocznij nową recepturę.  </a>
              Kliknij poniżej aby wrócić do swojej ostatniej  receptury.
            <a class="btn btn-primary btn-xl" href="{% url 'mojerec' %}" role="button"> Wróć do swojej receptury. </a>
            </pre>
            {% endif %}
        </div>
    </div>
<!--    <div class="row">-->
<!--        <div class="col-6 my-col">kolumna 2 rząd 1-->

<!--        </div>-->
<!--        <div class="col-6 my-col">kolumna 2 rząd 2</div>-->
<!--    </div>-->
</div>
{% endblock content %}




