<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}
dupa
<br><br>
{% for i in receptury %}
<div class="cont">
<a href="{% url 'receptura' i.id %}">

  nazwa:{{ i.nazwa }}
<br>
  data: {{ i.date }}
<br>
  pk :{{ i.pk }}
<br>
    owner: {{i.owner}}
<br>

<br>
</a>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Usuń tę recepturę
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Usuwanie receptury</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Czy na pewno chcesz usunąć tę recepturę?
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" onclick="location.href='{% url 'usunRec' i.id %}'" >Usuń</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</div>
{% endfor %}

{% endblock %}
<div id="tabela-moje-rec"> </div>
</body>
</html>