{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


{% block content %}


<div class="container">
    <div class="row" >
            <div class="col">
                <div id='parametry' class="red mt-5"></div>
            </div>
        </div>
    <div class="row">
        <div class="col">
        <form autocomplete="off" class="mt-5">
          <div class="autocomplete" style="width:300px;">
            <input id="myInput" type="text" name="myCountry" placeholder="Country" class="custom-input">
          </div>
        </form>
        <button type="submit" class="btn btn-secondary mt-1 " id="submitButton" > Nowy button</button>
         <div id="tabela-docelowa" class="mt-5"></div>
               <br><br>
        <button class="btn btn-primary" onclick="window.print();"> do Wydruku</button>
        <a class="btn btn-primary" id="toPdfButton" href="{% url 'to_pdf:to_pdf' receptura.pk %}"> do Pdf</a>
            </div>

        <div class="col">
            <div id='cards' class="red mt-5">siemka</div>
        </div>
    </div>
    <div class="row">
        <div class="col">

        </div>




    </div>
</div>



<!--modal-->
<div id="modalskladnik">

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body form-body-add">
<!--        place for form-->
          <form id="modal-form" method="POST" class="form-modal">
              {% csrf_token %}

              <br>
          </form>
      </div>
      <div class="modal-footer">
          <button type="submit" id="zapiszzmianybutton"  class="btn btn-primary">Zapisz</button>
        <button type="submit" id="edytujjsklbutton"  class="btn btn-primary">Edytuj składnik</button>
        <button type="submit" id="dodajsklbutton"  class="btn btn-primary">Dodaj składnik</button>
        <button type="button" id='close-button' class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<div id="pk-box">
    {{receptura.pk}}
</div>

<script src="{% static 'myjs.js' %}"> </script>
{% endblock  %}
</body>
</html>